#Ignore node_modules (backend & frontend)
node_modules/

# Ignore .env files with sensitive secrets
.env



# Ignore build/dist outputs
build/
dist/

# Ignore logs
*.log
logs/

# Ignore OS/system files
.DS_Store
Thumbs.db
